html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  object-fit: cover;
  z-index: -1;
}

h1 {
  color: white;
  position: relative;
  text-align: center;
  top: 40vh;
  font-family: sans-serif;
}